.home-page {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to bottom, #18193c, #61dafb);
    color: white;
  }
  
  .home-page h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(211, 215, 215);
  }
  
  .home-page p {
    font-size: 1.2rem;
    color: #d8f5ef;
  }